.course_section{
    width: 100%;
    .custom_heading{
        .view{
            margin-top: -10px;
            font-size: 18px;
            color: var(--common-color);
        }
    }
    .main_section{
        width: 100%;
        .row{
            margin: 0 -8px;
        }
        .common{
            padding: 0 8px;
        }
        .portion{
            width: 100%;
            box-shadow: 0px 3px 13px #E5EAEB;
            border-radius: 5px;
            margin-bottom: 54px;
            min-height: 334px;
            overflow: hidden;
            .image_back{
                width: 100%;
                img{
                    width: 100%;
                    height: 158px;
                    object-fit: cover;
                    display: block;
                    margin-bottom: 7px;
                }
            }
            .details{
                width: 100%;
                padding: 0 15px 0 15px;
                span{
                    &.tag{
                        padding: 2.5px 8.5px;
                        border-radius: 2px;
                        font-size: 12px;
                        font-weight: 500;
                        background-color: #E8F8FD; 
                        color:#2CB7DF;
                    }
                }
                h3{
                    margin-top: 13px;
                    margin-bottom: 8.5px;
                    min-height: 44px;
                }
                .bottom_details{
                    width: 100%;
                    padding-bottom: 2.5px;
                    li{
                        padding: 8.5px 0;
                        border-bottom: #eaeaea 1px solid;
                        &:last-child{
                            border: none;
                        }
                    }
                    .port{
                        img{
                           margin-right: 7px; 
                           display: block;
                        }
                        span{
                            font-size: 18px;
                            color: var(--primary-color);
                            font-weight: 500;
                            margin-right: 11px;
                        }
                        i{
                            font-style: normal;
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
    }
    &.list{
        .main_section{
            .portion{
                min-height: 187px;
                position: relative;
                padding-left:246px;
                .image_back{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 246px;
                    height: 100%;
                    img{
                        height: 100%;
                    }
                }
                .details{
                    padding: 15px 15px 0 15px;
                    .bottom_details{
                        li{
                            padding: 9.5px 0;
                            
                        }
                    }
                }
            }
        }
    }
    &.cv{
        background-color: #F8F8FB;
    }
}

@media only screen and (max-width:1279px){
    .course_section {
        .main_section {
            .portion{
                .details{
                    h3{
                        font-size: 17px;
                    }
                }
            }
        }
        &.list{
            .main_section {
                .portion {
                    padding-left: 218px;
                    .image_back{
                        width: 218px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:500px){
    .course_section {
        .main_section {
            .portion{
                margin-bottom: 26px;
            }
        }
        &.list{
            .main_section {
                .portion {
                    padding-left: 190px;
                    .image_back{
                        width: 190px;
                    }
                }
            }
        }
        
    }
}

@media only screen and (max-width:479px){
    .course_section {
        &.list{
            .main_section {
                .portion {
                    padding-left: 0;
                    .image_back{
                        position: relative;
                        width: 100%;
                        height: auto;
                        img{
                            height: 158px;
                        }
                    }
                }
            }
        }
        
    }
}